.orders h2 {
  margin-bottom: 1rem;
}

.orders .profile-orders-list > li {
  border: 2px solid #f4f4f4;
  border-radius: 3px;
}

.orders .profile-orders-list .profile-orders-list-item:not(:last-child) {
  margin-bottom: 2rem;
}

.orders .profile-orders-list .profile-orders-list-item-data-list li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.75rem 1.25rem;
  grid-gap: 0.5rem;
  align-items: center;
}

.orders
  .profile-orders-list
  .profile-orders-list-item-data-list
  li:not(:last-of-type) {
  border-bottom: 2px solid #f4f4f4;
}

@media (max-width: 600px) {
  .orders .profile-orders-list .profile-orders-list-item-data-list li {
    grid-template-columns: 1fr 2fr;
  }

  .orders profile-orders-list .profile-orders-list-item-data-list li p {
    font-size: 0.9rem;
  }

  .orders.profile-orders-list
    .profile-orders-list-item-data-list
    li:first-of-type
    strong {
    font-size: 0.8rem;
  }

  .orders .profile-orders-list .profile-orders-list-item-data-list li {
    padding: 0.7rem;
  }
}

@media (max-width: 300px) {
  .orders
    .profile-orders-list
    .profile-orders-list-item-data-list
    li:first-of-type
    strong {
    font-size: 0.6rem;
  }

  .orders .profile-orders-list .profile-orders-list-item-data-list li p {
    font-size: 0.8rem;
  }
}
